<!-- <div class ="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6">
 -->

<section id="products">

<p id="notice"><%= notice %></p>

<p class="navbar-text pull-right">
<% if customer_signed_in? %>
  Logged in as <strong><%= current_customer.email %></strong>.
  <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %>
<% end %>

<!-- <section id="products">
 -->
<h4>Listing Products</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Classification</th>
      <th>Kind</th>
      <th>Size</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.classification %></td>
        <td><%= product.kind %></td>
        <td><%= product.size %></td>
        <td><%= product.remarks %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%# link_to 'Edit', edit_product_path(product) %></td>
        <td><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add To Cart', add_to_cart_path(product), method: :post %></td>

        <%= JSON.parse(cookies["cart"]) %>
      </tr>
    <% end %>
  </tbody>
</table>

</section>

<!-- </div>
 -->
<br>


<%# link_to 'New Product', new_product_path %>
