<!DOCTYPE html>
<html>
<head>
  <title>Grechelle's Kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="headerimg">

			<div class="nav-row row">

			  	<div class="col-xs-2  col-xs-offset-1 headerlinks"><%= link_to "Home", root_path %></div>
			  	<div class="col-xs-2 headerlinks"><%= link_to "Products", root_path %></div>
			  	<div class="col-xs-2 col-xs-offset-2 headerlinks"><%= link_to "My Cart", root_path %></div>

			  	<div class="col-xs-2  headerlinks"><%= link_to "Verify", root_path %></div>

			</div>


</div>
<%= yield %>

</body>
</html>
